@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: transparent;
  color: #676767;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  text-align: center;
  padding: 25%;
}

.modal-toggle {
  border: 1px solid rgba(3, 3, 3, .1);
  background-color: #fff;
  color: #333;
  box-shadow: 0 0 10px 0 rgba(3, 3, 3, .1);
  padding: 10px 12px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  margin: 4px;
}

.modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  z-index: 99999;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal::before {
  content: ' ';
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal.show {
  display: flex;
  -webkit-align-items: center !important;
  align-items: center !important;
  vertical-align: middle;
  align-content: center;
  -webkit-justify-content: center !important;
  justify-content: center !important;
}

.modal>.modal-content {
  position: absolute;
  top: 0;
  margin: 50px 0;
  background-color: #fff;
  transition: display 1s ease-in-out;
  width: auto;
  max-width: 400px;
  box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.06);
}

.modal>.modal-content.out {
  animation: fadeOutUp 500ms;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.modal>.modal-content.in {
  animation: fadeInDown 400ms;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.modal>.modal-content.small {
  max-width: 60%;
}

.modal>.modal-content.medium {
  max-width: 70%;
}

.modal>.modal-content.large {
  max-width: 80%;
}

.modal>.modal-content.full-page {
  max-width: 100%;
  margin: 0;
}

.modal>.modal-content>.close {
  position: absolute;
  right: 0;
  margin: 16px 10px;
  opacity: 1;
}

.modal>.modal-content>.close>a.closed {
  color: #e0e0e0;
  border: 0 !important;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.modal>.modal-content>.close>a.closed:before {
  font-family: icomoon;
  content: "\e9ea";
  font-size: 24px;
}

.modal>.modal-content>.close>a.closed:hover {
  color: #000000;
}

.modal>.modal-content>.close i {
  font-size: 24px;
}

.modal>.modal-content>*:not(.close) {
  flex-flow: row wrap;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  align-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  flex-flow: row wrap;
}

.modal>.modal-content>*:not(.close)>.right, .modal>.modal-content>*:not(.close).right {
  -webkit-justify-content: flex-end !important;
  justify-content: flex-end !important;
  flex-flow: row-reverse wrap-reverse;
  text-align: right;
}

.modal>.modal-content>*:not(.close)>.left, .modal>.modal-content>*:not(.close).left {
  -webkit-justify-content: flex-start !important;
  justify-content: flex-start !important;
  text-align: left;
}

.modal>.modal-content>*:not(.close)>.centered, .modal>.modal-content>*:not(.close).centered {
  -webkit-justify-content: center !important;
  justify-content: center !important;
}

.modal>.modal-content>.modal-header {
  padding: 0.276em 1.4em;
  min-height: 50px;
  display: flex;
  border-bottom: 1px solid rgba(35, 35, 35, 0.06);
  align-items: baseline;
}

.modal>.modal-content>.modal-body {
  padding: 0.576em 1.4em;
  min-height: 300px;
  -webkit-align-items: center;
  align-items: center;
}

.modal>.modal-content>.modal-footer {
  border-top: 1px solid rgba(35, 35, 35, 0.06);
  display: flex;
  justify-content: center;
  min-height: 40px;
  text-align: center;
}

.modal>.modal-content>.modal-footer.start {
  justify-content: flex-start;
}

.modal>.modal-content>.modal-footer.end {
  justify-content: flex-end;
}